---
import { ParticlesBackground } from "@ui-components/react/ParticlesBackground";
import type { CollectionEntry } from "astro:content";
import type { ProjectsCTABannerContent } from "@content/projectsCTABanner/schema";
import project1Preview from "@assets/projects/previews/bch-connect.1.png";
import project2Preview from "@assets/projects/previews/zorro-viejo-desktop.1.png";
import project3Preview from "@assets/projects/previews/mini-dapp.1.png";
import ProjectPreviewCard from "./components/ProjectPreviewCard.astro";
import { getRelativeUrl } from "@/routing/paths";
import type { Locale } from "@/i18n/locales";
import type { ProjectsContent } from "@content/projects/schema";
import CTAButton from "@ui-components/astro/CTAButton/CTAButton.astro";

interface Props {
  contentEntry: CollectionEntry<"projectsCTABanner">;
  projectsEntry: CollectionEntry<"projects">;
}

const { contentEntry, projectsEntry } = Astro.props;
const locale = Astro.currentLocale as Locale;
const content: ProjectsCTABannerContent = contentEntry.data;
const projectsContent: ProjectsContent = projectsEntry.data;

const previews = [project1Preview, project2Preview, project3Preview];
const projectsData = projectsContent.projects
  .map((p, idx) => ({
    title: p.title,
    description: p.shortDescription,
    url: getRelativeUrl({ locale, page: "Projects", dynamicParam: p.id }),
    image: previews[idx],
  }))
  .slice(0, 2);

const projectsLink = getRelativeUrl({ locale, page: "Projects" });
---

<div class="container" id="projectsCTABanner">
  <div class="bgWrapper">
    <ParticlesBackground
      client:visible
      moveParticlesOnHover={true}
      particleSpread={20}
    />
  </div>
  <h2 class="title">{content.title}</h2>
  <div class="contentContainer">
    <ul class="projectsPreviewList">
      {
        projectsData.map((p) => {
          return (
            <li>
              <ProjectPreviewCard
                image={p.image}
                alt={`Preview of project ${p.title}`}
                projectTitle={p.title}
                projectDescription={p.description}
                projectUrl={p.url}
              />
            </li>
          );
        })
      }
    </ul>
    <CTAButton href={projectsLink} label={content.ctaButton} />

    <style>
      .container {
        --height: 16rem;
        position: relative;
        min-width: 100dvw;
        min-height: var(--height);
        max-height: var(--height);
        padding-top: 3rem;
        padding-bottom: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-bg-base);
        scroll-margin-top: 7rem;

        @media (width < 768px) {
          --height: 14rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: #050606;
          background: linear-gradient(
            0deg,
            rgba(5, 6, 6, 0) 69%,
            rgba(5, 6, 6, 0.87) 92%,
            rgba(5, 6, 6, 1) 100%
          );
          pointer-events: none;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          pointer-events: none;
          background: #050606;
          background: linear-gradient(
            180deg,
            rgba(5, 6, 6, 0) 69%,
            rgba(5, 6, 6, 0.87) 92%,
            rgba(5, 6, 6, 1) 100%
          );
        }
      }

      .bgWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .title {
        position: absolute;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        color: var(--color-text-primary);
        font-weight: 300;
        font-style: italic;
        z-index: 1;
        font-size: 1.5rem;
        text-wrap: nowrap;

        @media (width < 768px) {
          top: 1.25rem;
          font-size: 1.25rem;
        }
      }

      .contentContainer {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: var(--content-max-width);
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
        z-index: 2;
        padding: 1rem var(--content-padding-screen-l);
        pointer-events: none;

        @media (width < 1000px) {
          padding: 1rem var(--content-padding-screen-m);
        }

        @media (width < 768px) {
          padding: 1rem;
        }

        @media (width < 500px) {
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
        }
      }

      .projectsPreviewList {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        li {
          pointer-events: auto;
          color: white;
        }

        @media (500px < width < 1400px) {
          li:first-child {
            div {
              transform-origin: left;
            }
          }
        }

        li:nth-child(2) {
          margin: 0 auto;
        }

        @media (width < 600px) {
          li:nth-child(2) {
            display: none;
          }
        }
        @media (width < 500px) {
          flex-direction: column;
          justify-content: center;
        }
      }
    </style>
  </div>
</div>
